.event-title{
    background: #f0f0f0;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin: 10px 0px;
}
.top-block{
    margin: 30px 0px;
}
.top-block-title{
    border-left: 5px solid #1976d2;
    padding: 5px 10px;
}